body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 500px;
    text-align: center;
}
h1 {
    color: #333;
}

.sensor {
    background-color: #e9e9e9;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

#sensorTemperatura {
    background-color: #fdd;
}

#sensorHumedad {
    background-color: #dfd;
}

#sensorMovimiento {
    background-color: #ddf;
}

.table-container {
    height: 250px; /* Altura fija para las tablas */
    overflow-y: auto; /* Habilita desplazamiento vertical */
    margin-bottom: 20px;
    max-width: 100%;
    border: 1px solid #ddd;
}